* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    background-color: #D9CFA0;
    width: 100%;
    color: white;
}

h1 {
    font-size: 2.5em;
    color: white;
}

#topo {
    background-color: #BF0A3A;
    padding: 1em;
    text-align: center;
    width: 100%;
    margin-bottom: 2em;
}

#instrucao {
    text-align: center;
    color: #0F2D40;
    margin: 2em 0;
}

#logo {
    margin: 1.1em;
    margin-bottom: 2em;
}

#logo a {
    text-decoration: none;
    color: white;
}

#menu a {
    color: white;
    padding: 0.8em 3em;
    text-decoration: none;
}

#menu a:hover {
    color: #BF0A3A;
    padding: 0.8 2em;
    background-color: white;
}

.aviso {
    text-align: center;
    font-size: 4em;
    color: #0F2D40;
    margin: 2.5em 0;
}

#rodape {
    text-align: center;
    color: #0F2D40;
    margin: 2em 0 1em 0;

}

.aviso:after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

.mySlides {
    text-align: center;
}

.mySlides img{
    width: 35vw;
    height: auto;
}


   
@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }

    50%{
        opacity: 0;
    }
}